body{
    background-color: beige;
}
.pageTopper{
    text-align: center;
}
.pageTopper img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.summaryHeader{
    text-align: center;
    font-size: 2rem ;
    color: purple;
}
footer{
    text-align: right;
}
.sectionHeader{
    color: purple;
    font-size: 2rem;
    text-align: center;
}
.card{
    display: inline-block;
    margin-right: 50px;
    
}
.middleSection{
    background-color: beige;
}
.linkSection h2{
    display: block;
}
.linkSection h3{
    display: inline-block;
    width: 30%;
}
.work{
    
}